.section{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.sectionTitle{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 20px;
}
.sectionInfo{
margin-top: 10px;
}
.sectionInput{
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    padding-left:12px ;
    padding-right: 12px ;
    padding-top: 4px ;
    padding-bottom: 4px;
    border-bottom-width: 2px;
    border-color: black;
}