
.slick-prev {
    border-radius: 100%;
    text-align: center;
    padding-top: 3px;
    background-color: #25476a !important;
}
.slick-next {
    border-radius: 100%;
    text-align: center;
    padding-top: 3px;
    background-color: #25476a !important;
}